# Intro to Recommender Systems Lab

Complete the exercises below to solidify your knowledge and understanding of recommender systems.

For this lab, we are going to be putting together a user similarity based recommender system in a step-by-step fashion. Our data set contains customer grocery purchases, and we will use similar purchase behavior to inform our recommender system. Our recommender system will generate 5 recommendations for each customer based on the purchases they have made.

In [25]:
import pandas as pd
import matplotlib.pyplot as plt
from scipy.spatial.distance import pdist, squareform

In [28]:
data = pd.read_csv('../data/customer_product_sales.csv')

In [29]:
data.head()

,CustomerID,FirstName,LastName,SalesID,ProductID,ProductName,Quantity
0,61288,Rosa,Andersen,134196,229,Bread - Hot Dog Buns,16
1,77352,Myron,Murray,6167892,229,Bread - Hot Dog Buns,20
2,40094,Susan,Stevenson,5970885,229,Bread - Hot Dog Buns,11
3,23548,Tricia,Vincent,6426954,229,Bread - Hot Dog Buns,6
4,78981,Scott,Burch,819094,229,Bread - Hot Dog Buns,20

## Step 1: Create a data frame that contains the total quantity of each product purchased by each customer.

You will need to group by CustomerID and ProductName and then sum the Quantity field.

In [42]:
df = data.groupby(['CustomerID','ProductName']).agg({'Quantity':'sum'})
df

                                          Quantity
CustomerID ProductName
33         Apricots - Dried                      1
           Assorted Desserts                     1
           Bandage - Flexible Neon               1
           Bar Mix - Pina Colada, 355 Ml         1
           Beans - Kidney, Canned                1
...                                            ...
98200      Vol Au Vents                         50
           Wasabi Powder                        25
           Wine - Fume Blanc Fetzer             25
           Wine - Hardys Bankside Shiraz        25
           Yogurt - French Vanilla              25

[63628 rows x 1 columns]

## Step 2: Use the `pivot_table` method to create a product by customer matrix.

The rows of the matrix should represent the products, the columns should represent the customers, and the values should be the quantities of each product purchased by each customer. You will also need to replace nulls with zeros, which you can do using the `fillna` method.

In [43]:
pivot_table = df.pivot_table(values='Quantity',columns='CustomerID', index='ProductName',aggfunc='sum').fillna(0)
pivot_table

CustomerID,33,200,264,356,412,464,477,639,649,669,...,97697,97753,97769,97793,97900,97928,98069,98159,98185,98200
ProductName,,,,,,,,,,,,,,,,,,,,,
Anchovy Paste - 56 G Tube,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,25.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"Appetizer - Mini Egg Roll, Shrimp",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,25.0,25.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Appetizer - Mushroom Tart,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,25.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25.0,0.0
Appetizer - Sausage Rolls,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,25.0,25.0,25.0,0.0,25.0,0.0
Apricots - Dried,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,25.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Yeast Dry - Fermipan,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,25.0,0.0,0.0,0.0,0.0,0.0,0.0
Yoghurt Tubes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25.0,0.0,0.0
"Yogurt - Blueberry, 175 Gr",0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,25.0,0.0,0.0,25.0,0.0,0.0,0.0,0.0,0.0,0.0
Yogurt - French Vanilla,1.0,0.0,0.0,1.0,0.0,0.0,2.0,0.0,0.0,1.0,...,0.0,0.0,25.0,0.0,0.0,0.0,0.0,0.0,0.0,25.0
Zucchini - Yellow,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## Step 3: Create a customer similarity matrix using `squareform` and `pdist`. For the distance metric, choose "euclidean."

In [58]:
squareform(pdist(pivot_table.T, 'euclidean'))

array([[  0.        ,  11.91637529,  10.48808848, ..., 228.62851966,
        239.        , 229.77380181],
       [ 11.91637529,   0.        ,  11.74734012, ..., 228.01096465,
        239.03765394, 229.70415756],
       [ 10.48808848,  11.74734012,   0.        , ..., 228.08112592,
        238.26665734, 229.77380181],
       ...,
       [228.62851966, 228.01096465, 228.08112592, ...,   0.        ,
        304.13812651, 305.16389039],
       [239.        , 239.03765394, 238.26665734, ..., 304.13812651,
          0.        , 303.10889132],
       [229.77380181, 229.70415756, 229.77380181, ..., 305.16389039,
        303.10889132,   0.        ]])

## Step 4: Check your results by generating a list of the top 5 most similar customers for a specific CustomerID.

In [72]:
distance = pd.DataFrame(1/(1 + squareform(pdist(pivot_table.T, 'euclidean'))), index=pivot_table.columns, columns=pivot_table.columns)
distance.head()

def top_five(id):
    similarities = distance[id].sort_values(ascending=False)[1:]
    return similarities.head()

top_five(33)

CustomerID
264     0.087047
3535    0.087047
3317    0.087047
2503    0.085983
3305    0.085638
Name: 33, dtype: float64

## Step 5: From the data frame you created in Step 1, select the records for the list of similar CustomerIDs you obtained in Step 4.

In [77]:
data2 = pd.DataFrame(df)
data2.head()

same_info = data2.loc[top_five(33).index]
same_info.head()

                                       Quantity
CustomerID ProductName
264        Apricots - Halves                  1
           Apricots Fresh                     1
           Bacardi Breezer - Tropical         1
           Bagel - Plain                      1
           Banana - Leaves                    1

## Step 6: Aggregate those customer purchase records by ProductName, sum the Quantity field, and then rank them in descending order by quantity.

This will give you the total number of each product purchased by the 5 most similar customers to the customer you selected in order from most purchased to least.

In [88]:
aggregate = same_info.groupby('ProductName').Quantity.sum()
aggregate
product =aggregate.sort_values(ascending=False)
product

ProductName
Butter - Unsalted                3
Soup - Campbells Bean Medley     3
Towels - Paper / Kraft           3
Wine - Ej Gallo Sierra Valley    3
Pepper - Black, Whole            3
                                ..
Pepper - White, Ground           1
Pepper - Paprika, Hungarian      1
Pate - Cognac                    1
Pastry - Choclate Baked          1
Anchovy Paste - 56 G Tube        1
Name: Quantity, Length: 218, dtype: int64

## Step 7: Filter the list for products that the chosen customer has not yet purchased and then recommend the top 5 products with the highest quantities that are left.

- Merge the ranked products data frame with the customer product matrix on the ProductName field.
- Filter for records where the chosen customer has not purchased the product.
- Show the top 5 results.

In [89]:
list_product = data2.loc[33]
print(list_product)
prod_missing =[x for x in product_rank.index if x not in list_product.index]
print(prod_missing)
product_rank =aggregate.sort_values(ascending=False)
print(product_rank.head())

                                   Quantity
ProductName
Apricots - Dried                          1
Assorted Desserts                         1
Bandage - Flexible Neon                   1
Bar Mix - Pina Colada, 355 Ml             1
Beans - Kidney, Canned                    1
Beef - Chuck, Boneless                    1
Beef - Prime Rib Aaa                      1
Beer - Original Organic Lager             1
Beer - Rickards Red                       1
Black Currants                            1
Blackberries                              1
Bread - Italian Roll With Herbs           1
Bread Foccacia Whole                      1
Cake - Box Window 10x10x2.5               1
Cassis                                    1
Cheese - Cottage Cheese                   1
Crab - Imitation Flakes                   1
Fondant - Icing                           1
French Pastry - Mini Chocolate            1
General Purpose Trigger                   1
Grapes - Red                              1
Grouper - Fresh                           2
Hersey Shakes                             1
Ice Cream Bar - Drumstick                 1
Lamb - Pieces, Diced                      1
Lettuce - Spring Mix                      2
Mangoes                                   1
Muffin Batt - Choc Chk                    1
Onions - Vidalia                          1
Pasta - Cheese / Spinach Bauletti         1
Pate - Cognac                             1
Pepper - Black, Whole                     1
Pepper - White, Ground                    1
Phyllo Dough                              1
Pork - Bacon, Double Smoked               1
Pork - Hock And Feet Attached             1
Potatoes - Idaho 100 Count                1
Quiche Assorted                           1
Rum - Coconut, Malibu                     1
Salsify, Organic                          2
Sauce - Demi Glace                        1
Smoked Paprika                            1
Soupfoamcont12oz 112con                   1
Squid - Tubes / Tenticles 10/20           1
Sword Pick Asst                           1
Tahini Paste                              1
Towels - Paper / Kraft                    1
Tuna - Salad Premix                       1
Vaccum Bag 10x13                          1
Veal - Eye Of Round                       1
Veal - Inside, Choice                     2
Veal - Sweetbread                         1
Water - Green Tea Refresher               1
Wine - Crozes Hermitage E.                1
Wine - Gato Negro Cabernet                1
Wine - Sogrape Mateus Rose                1
Wine - Two Oceans Cabernet                1
Wine - Valpolicella Masi                  1
Yogurt - French Vanilla                   1
['Butter - Unsalted', 'Soup - Campbells Bean Medley', 'Wine - Ej Gallo Sierra Valley', 'Wine - Blue Nun Qualitatswein', 'Scallops 60/80 Iqf', 'Chicken - Soup Base', 'Sea Bass - Whole', 'Cheese Cloth No 100', 'Nut - Chestnuts, Whole', 'Cheese - Boursin, Garlic / Herbs', 'Steam Pan - Half Size Deep', 'Garbage Bags - Clear', 'Tart Shells - Sweet, 4', 'Chocolate - Dark', 'Sausage - Breakfast', 'Ketchup - Tomato', 'Beets - Candy Cane, Organic', 'Cod - Black Whole Fillet', 'Coffee - Dark Roast', 'Coffee Decaf Colombian', 'Sardines', 'Peas - Pigeon, Dry', 'Crab - Dungeness, Whole', 'Pecan Raisin - Tarts', 'Raspberries - Fresh', 'Pork - Inside', 'Tea - Decaf Lipton', 'Cup - Translucent 7 Oz Clear', 'Beef Wellington', 'Bar - Granola Trail Mix Fruit Nut', 'Milk - 2%', 'Beans - Wax', 'Guinea Fowl', 'Muffin Batt - Blueberry Passion', 'Bacardi Breezer - Tropical', 'Juice - Lime', 'Bandage - Fexible 1x3', 'Wine - Redchard Merritt', 'Lamb - Ground', 'Beef - Top Sirloin - Aaa', 'Beef - Rib Eye Aaa', 'Knife Plastic - White', 'Wine - Wyndham Estate Bin 777', 'Yoghurt Tubes', 'Mushrooms - Black, Dried', 'Ice Cream Bar - Hageen Daz To', 'Juice - Orange', 'Curry Paste - Madras', 'Dc Hikiage Hira Huba', 'Jagermeister', 'Dried Figs', 'Jolt Cola - Electric Blue', 'Doilies - 5, Paper', 'Duck - Breast', 'Hinge W Undercut', 'Ecolab - Mikroklene 4/4 L', 'Foam Dinner Plate', 'Garlic - Elephant', 'Fuji Apples', 'Cup - 6oz, Foam', 'Halibut - Steaks', 'Fond - Neutral', 'Flour - Teff', 'Ecolab - Solid Fusion', 'Fish - Scallops, Cold Smoked', 'Fenngreek Seed', 'Ezy Change Mophandle', 'Extract - Lemon', 'Eggplant - Asian', 'Cocoa Butter', 'Cumin - Whole', 'Bread - Multigrain', 'Berry Brulee', 'Beef Ground Medium', 'Beef - Tenderlion, Center Cut', 'Beef - Short Loin', 'Beef - Montreal Smoked Brisket', 'Beef - Inside Round', 'Beef - Ground Medium', 'Bay Leaf', 'Bananas', 'Banana - Leaves', 'Bagel - Plain', 'Apricots Fresh', 'Apricots - Halves', 'Appetizer - Sausage Rolls', 'Appetizer - Mushroom Tart', 'Bread - English Muffin', 'Bread - Roll, Canadian Dinner', 'Crush - Cream Soda', 'Bread Crumbs - Panko', 'Creme De Banane - Marie', 'Cream Of Tartar', 'Crackers - Trio', 'Cornflakes', 'Corn Meal', 'Cookie Chocolate Chip With', 'Chinese Foods - Chicken', 'Chef Hat 20cm', 'Cheese - Victor Et Berthold', 'Cheese - Taleggio D.o.p.', 'Cheese - Parmesan Cubes', 'Cheese - Cambozola', 'Cheese - Brie, Triple Creme', 'Cake - Cake Sheet Macaroon', 'Broom - Corn', 'Kellogs Special K Cereal', 'Kiwi', 'Soup - Canadian Pea, Dry Mix', 'Tia Maria', 'Tea - Herbal Sweet Dreams', 'Table Cloth 54x72 White', 'Sun - Dried Tomatoes', 'Sugar - Fine', 'Sponge Cake Mix - Chocolate', 'Soup Campbells - Italian Wedding', 'Soup - Campbells, Cream Of', 'Langers - Ruby Red Grapfruit', 'Soup - Campbells, Beef Barley', 'Sole - Dover, Whole, Fresh', 'Snapple Lemon Tea', 'Skirt - 29 Foot', 'Shrimp - Baby, Warm Water', 'Shrimp - 31/40', 'Sherry - Dry', 'Scampi Tail', 'Tofu - Firm', 'Tray - 16in Rnd Blk', 'Turkey - Oven Roast Breast', 'Turkey - Whole, Fresh', 'Wonton Wrappers', 'Wine - White, Schroder And Schyl', 'Wine - White Cab Sauv.on', 'Wine - Red, Cooking', 'Wine - Pinot Noir Latour', 'Wine - Magnotta, Merlot Sr Vqa', 'Wine - Magnotta - Cab Sauv', 'Wine - Magnotta - Belpaese', 'Wine - Chardonnay South', 'Wine - Chablis 2003 Champs', 'Water, Tap', 'Wanton Wrap', 'Vol Au Vents', 'Veal - Slab Bacon', 'Veal - Osso Bucco', 'Veal - Inside', 'Scallops - 10/20', 'Scallop - St. Jaques', 'Sausage - Liver', 'Pasta - Penne, Rigate, Dry', 'Pasta - Detalini, White, Fresh', 'Pants Custom Dry Clean', 'Pail For Lid 1537', 'Oregano - Dry, Rubbed', 'Oranges - Navel, 72', 'Olives - Stuffed', 'Olive - Spread Tapenade', 'Oil - Shortening,liqud, Fry', 'Oil - Shortening - All - Purpose', 'Oil - Safflower', 'Ocean Spray - Ruby Red', 'Ocean Spray - Kiwi Strawberry', 'Nantucket - Pomegranate Pear', 'Muffin Mix - Blueberry', 'Milk Powder', 'Mayonnaise - Individual Pkg', 'Lettuce - California Mix', 'Lemonade - Natural, 591 Ml', 'Pasta - Orecchiette', 'Pastry - Butterscotch Baked', 'Sauerkraut', 'Pastry - Cheese Baked Scones', 'Sauce - Rosee', 'Sauce - Hollandaise', 'Sauce - Gravy, Au Jus, Mix', 'Salmon - Sockeye Raw', 'Sage - Ground', 'Rosemary - Primerba, Paste', 'Remy Red', 'Pork - Loin, Bone - In', 'Pork - Kidney', 'Placemat - Scallop, White', 'Pie Filling - Cherry', 'Pepsi - Diet, 355 Ml', 'Pepper - Paprika, Hungarian', 'Pastry - Choclate Baked', 'Anchovy Paste - 56 G Tube']
ProductName
Butter - Unsalted                3
Soup - Campbells Bean Medley     3
Towels - Paper / Kraft           3
Wine - Ej Gallo Sierra Valley    3
Pepper - Black, Whole            3
Name: Quantity, dtype: int64

## Step 8: Now that we have generated product recommendations for a single user, put the pieces together and iterate over a list of all CustomerIDs.

- Create an empty dictionary that will hold the recommendations for all customers.
- Create a list of unique CustomerIDs to iterate over.
- Iterate over the customer list performing steps 4 through 7 for each and appending the results of each iteration to the dictionary you created.

In [95]:
recommendations = {}
customers = set(data['CustomerID'].values)
distances = pd.DataFrame(1/(1 + squareform(pdist(pivot_table.T, 'euclidean'))), index=pivot_table.columns, columns=pivot_table.columns)
print(customers)
print(distances)

{83973, 59399, 92168, 49159, 18441, 22536, 86028, 75791, 96272, 32785, 47122, 75793, 51224, 40985, 28702, 33, 6185, 18480, 86065, 94258, 67636, 81981, 90174, 10311, 28751, 51279, 90193, 30803, 55380, 28756, 55381, 41045, 12381, 30815, 92255, 86111, 67682, 16481, 88159, 65650, 57459, 18552, 86136, 8316, 79997, 77950, 82057, 2187, 65678, 86167, 57497, 18591, 61601, 71844, 4261, 14501, 20648, 90284, 6317, 8367, 22705, 10418, 32946, 8372, 88245, 41147, 90300, 18622, 28867, 65731, 39110, 47303, 200, 47305, 28875, 6352, 45266, 94420, 35028, 35034, 65757, 6367, 22751, 78048, 82146, 26850, 78054, 16614, 94438, 30954, 90347, 59626, 12529, 82161, 24820, 18680, 65785, 51451, 18683, 53501, 63742, 88318, 18688, 45313, 92418, 78082, 57606, 43270, 264, 16650, 96522, 96524, 71948, 12561, 18706, 69906, 78104, 2329, 16664, 51483, 55580, 63771, 33051, 18720, 35107, 65830, 80167, 18728, 69931, 49454, 6447, 28976, 96560, 12596, 78133, 57654, 61750, 28984, 80184, 12598, 84280, 63803, 59703, 59710, 59711, 49474, 41286, 18760, 92492, 69967, 43345, 49491, 65875, 94547, 8539, 74077, 26974, 31075, 356, 41319, 96615, 45420, 33132, 92525, 18796, 39280, 22901, 65910, 72056, 31100, 84349, 92543, 72063, 70017, 4479, 65925, 94599, 47497, 31113, 57737, 84364, 90508, 6543, 63891, 96666, 22939, 412, 55715, 27045, 20901, 29095, 16809, 20907, 96684, 78252, 51631, 92594, 25013, 59831, 45498, 41405, 14782, 22982, 2503, 464, 25040, 16375, 88533, 72152, 78297, 23001, 63963, 477, 92637, 53729, 61923, 55780, 74213, 88552, 78312, 68076, 45549, 10739, 4595, 80372, 47605, 76281, 2556, 74237, 80380, 86527, 82432, 92673, 51718, 8711, 82440, 43529, 2566, 45582, 59925, 2582, 27160, 51742, 45598, 86560, 21027, 4644, 25125, 33320, 33325, 80432, 12852, 62005, 2617, 82493, 14910, 14913, 41538, 86595, 55876, 43589, 55875, 90694, 27209, 29258, 16971, 6734, 62034, 12888, 76378, 31323, 53851, 84575, 84577, 86625, 82532, 76389, 16997, 21095, 29287, 33381, 72305, 39537, 4723, 84594, 64117, 37495, 72311, 57977, 55930, 51834, 25209, 55932, 23165, 2686, 39552, 14977, 66177, 19074, 43652, 639, 37510, 86662, 23176, 649, 72330, 49795, 57991, 31373, 62094, 24554, 62101, 90776, 90777, 78489, 76442, 80538, 669, 88733, 78488, 29342, 6817, 74403, 82597, 31409, 15027, 70324, 23220, 694, 25270, 66232, 21177, 45754, 76475, 82620, 94910, 45759, 84671, 88769, 2754, 6851, 17097, 64202, 35531, 68298, 19148, 78541, 26601, 58064, 25292, 70354, 74451, 19147, 8917, 92139, 2776, 45786, 70363, 51934, 76511, 84703, 51939, 47845, 94951, 62184, 72428, 53997, 31468, 25327, 15088, 68336, 76530, 72433, 756, 54001, 37619, 35575, 17136, 76532, 41722, 27381, 86786, 8962, 29444, 97029, 13062, 11023, 66320, 15119, 27410, 41747, 45846, 92951, 88855, 60185, 97052, 49005, 62242, 29475, 97063, 72487, 95017, 47913, 84779, 15148, 64301, 11057, 58165, 90933, 80694, 52024, 95034, 19260, 31549, 15166, 13118, 68416, 15165, 49981, 92995, 62277, 97093, 62279, 11083, 25420, 25421, 39757, 54093, 23377, 95059, 50004, 2902, 9047, 58203, 64348, 11102, 72546, 2915, 41829, 95078, 25449, 41834, 7021, 17263, 70512, 19312, 47985, 883, 41843, 70517, 66419, 52091, 891, 2939, 78718, 91013, 39813, 58246, 29580, 45965, 80782, 66445, 95121, 76690, 27546, 23451, 68506, 52139, 9132, 97201, 91058, 50098, 27572, 52154, 52155, 62411, 80849, 58321, 46036, 33749, 62421, 29656, 60378, 23515, 46046, 33759, 70624, 7134, 60389, 82922, 48108, 84972, 58348, 17390, 1008, 29681, 37873, 19442, 5104, 11253, 87030, 58353, 80890, 23548, 17404, 44030, 58366, 56319, 17407, 80898, 97282, 3074, 76796, 1034, 48139, 15371, 15373, 68627, 27669, 89110, 25624, 27672, 44058, 29721, 48156, 13338, 74784, 35873, 35877, 85032, 91176, 80938, 13354, 97324, 1066, 58413, 9260, 72750, 78896, 33840, 25651, 1072, 58421, 56374, 7223, 78903, 5177, 44090, 15415, 15420, 11325, 91194, 64575, 56382, 60481, 46146, 5183, 17472, 19526, 68680, 66632, 31820, 95314, 91220, 64597, 9302, 33878, 91224, 68699, 89181, 60515, 25703, 42087, 5224, 64615, 81001, 5230, 27760, 81012, 11380, 78966, 72829, 62592, 78981, 81034, 95372, 72846, 78993, 66709, 56469, 40094, 56479, 38048, 83106, 40099, 89254, 58535, 85161, 46250, 29867, 42157, 27821, 11441, 27826, 11443, 25779, 3253, 76983, 89272, 87228, 27841, 3267, 60612, 27849, 36042, 27857, 79060, 83158, 29910, 97495, 79068, 68829, 54495, 21734, 93417, 3305, 46315, 38125, 77037, 50416, 46324, 87285, 3317, 66807, 56567, 85246, 52479, 62719, 50435, 93445, 66822, 64775, 87303, 32010, 38154, 75022, 58639, 54547, 64787, 81179, 58652, 50461, 32028, 40223, 46367, 21795, 79141, 19753, 38186, 36138, 85292, 29998, 91443, 1336, 15672, 5434, 44349, 9533, 42303, 89408, 50497, 42306, 93505, 73030, 73031, 9546, 70986, 81226, 89424, 89425, 36179, 79189, 60759, 64862, 11614, 17760, 93540, 17765, 50535, 36200, 36201, 11628, 60781, 87408, 13681, 7543, 44408, 38265, 9597, 79230, 28030, 81281, 13699, 34184, 25994, 25995, 81293, 3472, 46482, 1428, 48534, 42394, 1435, 52634, 83355, 42399, 97697, 69027, 38307, 66987, 81324, 71085, 26031, 81331, 32180, 15796, 7606, 79290, 42426, 85437, 60862, 38339, 7623, 3531, 3535, 81361, 56786, 21973, 38358, 46551, 3544, 97753, 42459, 52700, 11744, 48611, 89573, 73190, 85480, 97769, 15851, 50670, 67058, 17906, 30196, 89588, 67061, 60917, 85496, 54774, 58874, 34291, 93692, 79353, 1534, 13823, 48641, 48642, 97793, 91652, 38405, 87559, 60938, 48655, 15888, 85524, 28191, 20006, 83495, 77352, 1577, 60969, 54827, 9771, 5678, 85552, 15920, 56887, 63033, 1594, 50748, 73280, 91713, 46659, 32324, 81479, 24137, 54857, 95819, 9804, 50761, 50774, 13912, 7772, 81501, 38497, 79458, 18027, 11883, 5739, 79470, 63086, 54894, 97900, 15986, 42611, 42612, 32373, 30324, 71282, 18040, 54906, 46715, 44667, 89725, 91777, 32386, 71298, 67203, 91783, 97928, 59017, 85642, 73353, 63120, 7827, 83608, 11933, 20125, 22175, 20134, 48818, 81591, 93882, 14012, 22204, 57024, 44742, 5832, 24271, 28368, 67281, 18133, 36566, 46807, 30423, 1754, 48858, 93918, 59108, 46826, 26353, 30451, 57090, 24323, 77574, 26375, 85766, 16139, 59150, 98069, 69397, 42776, 96024, 12059, 17458, 10016, 5921, 81696, 22308, 61223, 87849, 3885, 32558, 1839, 38703, 65326, 42802, 81715, 22322, 7987, 44859, 77628, 46910, 3903, 63295, 32575, 7999, 48963, 42819, 3909, 59207, 32584, 22345, 51023, 57168, 5968, 77651, 55124, 96088, 26458, 34657, 5986, 67428, 61288, 18281, 20331, 5997, 10094, 30575, 87920, 6001, 77682, 98159, 24435, 18293, 77685, 85878, 55162, 46971, 59258, 77696, 1920, 36737, 14208, 36740, 87938, 10114, 22408, 98185, 63368, 87947, 73609, 73614, 36751, 85902, 67473, 38798, 81813, 98200, 57241, 40863, 87967, 92067, 32682, 71595, 24490, 12206, 51121, 81845, 22454, 53176, 77756, 22461, 18364, 40896, 40901, 90054, 12232, 55245, 53198, 20433, 81876, 90069, 47062, 51160, 36829, 20446, 53214, 83940, 57317, 40934, 61417, 38890, 53226, 22508, 55275, 79854, 51182, 10224, 55281, 75762, 45042, 59379, 77810, 77814, 32753, 20476, 67582, 65535}
CustomerID     33        200       264       356       412       464    \
CustomerID
33          1.000000  0.077421  0.087047  0.081800  0.080634  0.082709
200         0.077421  1.000000  0.078448  0.076435  0.073693  0.075255
264         0.087047  0.078448  1.000000  0.080070  0.081800  0.080350
356         0.081800  0.076435  0.080070  1.000000  0.076435  0.078187
412         0.080634  0.073693  0.081800  0.076435  1.000000  0.078711
...              ...       ...       ...       ...       ...       ...
97928       0.004515  0.004521  0.004543  0.004526  0.004530  0.004533
98069       0.004583  0.004614  0.004595  0.004578  0.004578  0.004578
98159       0.004355  0.004367  0.004365  0.004365  0.004367  0.004363
98185       0.004167  0.004166  0.004179  0.004175  0.004177  0.004167
98200       0.004333  0.004335  0.004333  0.004339  0.004349  0.004347

CustomerID     477       639       649       669    ...     97697     97753  \
CustomerID                                          ...
33          0.074573  0.083020  0.081503  0.080070  ...  0.004811  0.004669
200         0.075956  0.076435  0.077674  0.076923  ...  0.004824  0.004681
264         0.076923  0.080634  0.082100  0.078448  ...  0.004822  0.004674
356         0.075025  0.082403  0.077171  0.075956  ...  0.004816  0.004671
412         0.075025  0.082403  0.078187  0.078448  ...  0.004810  0.004702
...              ...       ...       ...       ...  ...       ...       ...
97928       0.004534  0.004526  0.004528  0.004523  ...  0.003509  0.003509
98069       0.004589  0.004581  0.004585  0.004592  ...  0.003509  0.003509
98159       0.004366  0.004363  0.004369  0.004365  ...  0.003509  0.003565
98185       0.004168  0.004176  0.004172  0.004161  ...  0.003311  0.003162
98200       0.004338  0.004335  0.004329  0.004347  ...  0.003418  0.003345

CustomerID     97769     97793     97900     97928     98069     98159  \
CustomerID
33          0.004412  0.005019  0.004312  0.004515  0.004583  0.004355
200         0.004431  0.005047  0.004311  0.004521  0.004614  0.004367
264         0.004416  0.005035  0.004322  0.004543  0.004595  0.004365
356         0.004416  0.005038  0.004310  0.004526  0.004578  0.004365
412         0.004414  0.005034  0.004318  0.004530  0.004578  0.004367
...              ...       ...       ...       ...       ...       ...
97928       0.003300  0.003653  0.003579  1.000000  0.003638  0.003418
98069       0.003369  0.003509  0.003496  0.003638  1.000000  0.003469
98159       0.003322  0.003431  0.003322  0.003418  0.003469  1.000000
98185       0.003255  0.003406  0.003172  0.003255  0.003345  0.003277
98200       0.003381  0.003444  0.003288  0.003245  0.003381  0.003266

CustomerID     98185     98200
CustomerID
33          0.004167  0.004333
200         0.004166  0.004335
264         0.004179  0.004333
356         0.004175  0.004339
412         0.004177  0.004349
...              ...       ...
97928       0.003255  0.003245
98069       0.003345  0.003381
98159       0.003277  0.003266
98185       1.000000  0.003288
98200       0.003288  1.000000

[1000 rows x 1000 columns]

##  Step 9: Store the results in a Pandas data frame. The data frame should a column for Customer ID and then a column for each of the 5 product recommendations for each customer.

Empty DataFrame
Columns: []
Index: []

## Step 10: Change the distance metric used in Step 3 to something other than euclidean (correlation, cityblock, consine, jaccard, etc.). Regenerate the recommendations for all customers and note the differences.